if 조건문

In [1]:
a=10
if a>5:
  print('A는 5보다 크다.')
print('프로그램 종료')

A는 5보다 크다.
프로그램 종료

elif 조건문

In [3]:
a=5
if a>5:
  print('A는 5보다 크다.')
elif a<=5:
  print('A는 5이하 입니다.')

a는 5이하 입니다.

->홀수, 짝수 구하기

In [5]:
a=10
if a%2==1:
  print('A는 홀수 입니다.')
elif a%2==0:
  print('A는 짝수 입니다.')

A는 짝수 입니다.

else 조건문

In [6]:
a=5
if a>5:
  print('A는 5보다 크다.')
elif a<5:
  print('A는 5보다 작다.')
else:
  print('A는 5이다.')

A는 5이다.

중첩조건문

In [7]:
a=10
b=5
if a>5:
  if b<10:
    print('a는 5보다 크고 b는 10보다 작습니다.')

a는 5보다 크고 b는 10보다 작습니다.

and 이용

In [10]:
a=10
b=5
if a>5 and b<10:
  print('a는 5보다 크고 b는 10보다 작습니다.')

a는 5보다 크고 b는 10보다 작습니다.

->0~100 점수로 등급나누기

In [15]:
a=int(input('점수를 입력하세요.'))
if a>=90:
  print('A')
elif a>=80:
  print('B.')
elif a>=70:
  print('C')
elif a>=60:
  print('D')
else:
  print('F')

점수를 입력하세요.40
F

In [16]:
a=[1,2,3,4,5]
for i in a:
  print(i)

1
2
3
4
5

In [17]:
a=[1,2,3,4,5]
for i in a:
  print(i, end='')

12345

In [49]:
a=[1,2,3,4,5]
tot=0
for i in a:
  print(i)
  tot+=i
print(tot)

1
2
3
4
5
15

In [24]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [25]:
for i in range(1,11,2):
  print(i)

1
3
5
7
9

->1~100까지 짝수

In [27]:
for i in range(2,101,2):
  print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [28]:
for i in range(1,101,2):
  print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

continue문 ->짝수

In [34]:
for i in range(1,101):
  if i%2==1:
    continue
  print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

continue문 ->홀수

In [37]:
for i in range(1,101):
  if i%2==0:
    continue
  print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [42]:
홀수합=int()
짝수합=int()
for i in range(1,11):
  if i%2==1:
    홀수합+=i
  else:
    짝수합+=i
print(홀수합)
print(짝수합)

25
30

In [48]:
#n의 값을 입력받아라
#1-n까지 반복
   #합을 계산
#합을 출력
a=int(input('n의 값을입력하세요.'))
tot=0
for i in range(a+1):
  tot+=i
print(tot)

n의 값을입력하세요.10
55