In [5]:
import numpy as np

In [3]:
import pandas as pd

In [9]:
data=[[1,'Alice'], [2,'Bob'], [3,'Charlie']]
df=pd.DataFrame(data, columns=['ID', 'Name'])
print(df)

   ID     Name
0   1    Alice
1   2      Bob
2   3  Charlie

In [13]:
df2=pd.read_csv('data.csv')
print(df2)

   name   age   score
0   Kim    27      92
1   Lee    33      98
2  Park    19      87

In [32]:
df3=pd.read_csv('train.csv')
print(df3)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

In [17]:
url='https://raw.githubusercontent.com/Datamanim/pandas/main/lol.csv'
df4=pd.read_csv(url, delimiter='\t')

In [36]:
df5=pd.read_excel('BoxOffice.xlsx', index_col=None)
df5.head(3)
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   순위      200 non-null    int64
 1   영화명     200 non-null    object
 2   개봉일     200 non-null    datetime64[ns]
 3   매출액     200 non-null    int64
 4   관객수     200 non-null    int64
 5   스크린수    200 non-null    int64
 6   상영횟수    200 non-null    int64
 7   대표국적    200 non-null    object
 8   국적      200 non-null    object
 9   배급사     200 non-null    object
dtypes: datetime64[ns](1), int64(5), object(4)
memory usage: 15.8+ KB

In [45]:
df6=pd.read_excel('data.xlsx')
df6.tail(4)
df6.info()
df6.반
df반이름=df6[['반', '이름']]
print(df반이름)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   반       10 non-null     object
 1   이름      10 non-null     object
 2   성별      10 non-null     object
 3   국어      7 non-null      float64
 4   수학      7 non-null      float64
 5   응시여부    8 non-null      object
 6   확인여부    7 non-null      object
dtypes: float64(2), object(5)
memory usage: 688.0+ bytes
    반   이름
0  A반  구이서
1  B반  김이정
2  A반  오지수
3  B반  김선후
4  A반  하진희
5  A반  강현진
6  B반  김진솔
7  B반  박서준
8  A반  김성희
9  B반  이지서

In [51]:
kor_80=df6['국어'] > 80
kor_80
kor_80up=df6[df6['국어'] > 80]
kor_80up

    반   이름 성별    국어     수학 응시여부 확인여부
0  A반  구이서  남  90.0   89.0   응시   확인
6  B반  김진솔  남  90.0   89.0   응시   확인
9  B반  이지서  여  86.0  100.0   응시   확인

In [53]:
df6.sort_values(by=['국어'], ascending=False)

    반   이름 성별    국어     수학 응시여부 확인여부
0  A반  구이서  남  90.0   89.0   응시   확인
6  B반  김진솔  남  90.0   89.0   응시   확인
9  B반  이지서  여  86.0  100.0   응시   확인
1  B반  김이정  여  78.0   45.0   응시   확인
7  B반  박서준  여  78.0   45.0   응시   확인
3  B반  김선후  남  33.0   44.0   응시  NaN
4  A반  하진희  여   0.0   85.0   응시  NaN
2  A반  오지수  남   NaN    NaN   응시   확인
5  A반  강현진  남   NaN    NaN  NaN  NaN
8  A반  김성희  남   NaN    NaN  NaN   확인

In [55]:
value_counts=df6['반'].value_counts()
value_counts

반
A반    5
B반    5
Name: count, dtype: int64

In [57]:
df6['총점']=df6['국어']+df6['수학']
df6['총점']

0    179.0
1    123.0
2      NaN
3     77.0
4     85.0
5      NaN
6    179.0
7    123.0
8      NaN
9    186.0
Name: 총점, dtype: float64

In [77]:
#실습 1)
#데이터를 이용해 데이터프레임 생성
df7 = pd.DataFrame({'학생':['John', 'Alice', 'Bob', 'Emily'],
                   '수학':[90,87,78,92],
                   '영어':[85,91,80,88],
                    '과학':[88,89,85,82]})
df7.describe()
mat_max=df7[df7['수학']==df7['수학'].max()]
mat_90up=df7[df7['수학'] >= 90]
print(mat_max)
print(mat_90up)

      학생  수학  영어  과학
3  Emily  92  88  82
      학생  수학  영어  과학
0   John  90  85  88
3  Emily  92  88  82

In [84]:
#실습 2)
df8=pd.read_excel('BoxOffice.xlsx')
df8.info()
df8.groupby('대표국적')['영화명'].count()
df8[df8['대표국적']=='영국']
df8.groupby('대표국적')['순위'].min()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   순위      200 non-null    int64
 1   영화명     200 non-null    object
 2   개봉일     200 non-null    datetime64[ns]
 3   매출액     200 non-null    int64
 4   관객수     200 non-null    int64
 5   스크린수    200 non-null    int64
 6   상영횟수    200 non-null    int64
 7   대표국적    200 non-null    object
 8   국적      200 non-null    object
 9   배급사     200 non-null    object
dtypes: datetime64[ns](1), int64(5), object(4)
memory usage: 15.8+ KB

대표국적
미국      5
영국    195
일본    172
한국      1
Name: 순위, dtype: int64