In [20]:
#"apple"요소를 출력
fruits=["banana", "apple", "orange", "cherry"]
print(fruits[1])

#마지막 요소를 출력(-n으로 하면 편리)
numbers=[10, 20, 30, 40, 50]
print(numbers[-1])

apple
50

In [14]:
#"banana"를 "grape"로 변경
fruits=["apple", "banana", "cherry"]
fruits.remove("banana")
fruits.insert(1, "grape")
print(fruits)

['apple', 'grape', 'cherry']

In [16]:
#"strawberry" 요소를 추가
fruits=["apple", "banana", "cherry"]
fruits.append("strawberry")
print(fruits)

['apple', 'banana', 'cherry', 'strawberry']

In [19]:
#30을 제거
numbers=[10, 20, 30, 40, 50]
numbers.pop(2)
print(numbers)

[10, 20, 40, 50]

In [24]:
#다음 리스트의 길이를 출력
numbers=[5, 10, 15, 20, 25]
print(len(numbers))

5

In [23]:
#가장 작은 값/가장 큰 값을 찾아 출력
numbers=[10, 5, 8, 3, 15]
print(min(numbers))
print(max(numbers))

3
15

In [25]:
#리스트의 모든 요소의 합 개산해 출력
numbers=[10, 20, 30, 40, 50]
print(sum(numbers))

150

In [31]:
numbers=[1,2,3,4,5]
newlist=[]
for num in numbers:
  newlist.append(num**2)
print(newlist)

[1, 4, 9, 16, 25]

In [36]:
#함수 정의
def square(x):
  return x**2
#함수 호출(갑을 반환 받음)
ret=square(6)
print(ret)

36

In [30]:
#코드의 재사용
print(square(5))
print(square(10))
print(square(15))
print(square(20))

25
100
225
400

In [38]:
def square(numbers):
  newlist=[]
  for num in numbers:
    newlist.append(num**2)
    return newlist

In [39]:
new=square([1,2,3,4,5,6])
print(new)

[1]

In [44]:
def BMI(h,w):
  bmi=w/((h/100)**2)
  return bmi

w=int(input("체중"))
h=int(input("신장"))

bmi=BMI(h,w)
print("BMI지수는", bmi)

체중90
신장180
BMI지수는 27.777777777777775